/* =-=-=-=-=-=-=-=-=-=-=-
      Common Styles
-=-=-=-=-=-=-=-=-=-=-=-=*/

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
}
body {
  background: linear-gradient(
    45deg,
    rgba(206, 214, 224, 1),
    rgba(241, 242, 246, 1)
  );
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 85%;
  height: auto;
  margin: 0 auto;
}
.uni-button {
  width: 195px;
  height: 55px;
  background: linear-gradient(rgba(255, 71, 87, 1), rgba(255, 107, 129, 1));
  border: none;
  font-size: 18px;
  border-radius: 50px;
  margin: 50px 0;
  box-shadow: 10px 10px 20px #57606f;
  transition: box-shadow 0.5s ease-in;
}
.uni-button a {
  color: rgba(245, 246, 250, 1);
  font-weight: 600;
  padding: 5px;
  transition: color 0.5s ease-in;
}
.uni-button a i {
  padding-left: 5px;
}
.uni-button:hover {
  box-shadow: none;
}
.uni-button a:hover {
  color: #dcdde1;
}

/* =-=-=-=-=-=-=-=-=-=-=-
     Header Section
-=-=-=-=-=-=-=-=-=-=-=-=*/

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-top: 40px;
}
.responsive-nav {
  display: none;
}
.nav-logo {
  width: 30%;
}
.nav-items {
  width: 70%;
}
.nav-items ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-items ul li {
  margin-right: 20px;
}
.nav-items ul li a {
  padding: 12px 15px;
  font-size: 20px;
  color: #57606f;
  font-weight: 600;
  transition: color 0.5s ease-in-out;
}
.nav-items ul li a i {
  font-size: 24px;
}
.nav-items ul li a:hover {
  color: black;
}

/* =-=-=-=-=-=-=-=-=-=-=-
EasyShop Section
-=-=-=-=-=-=-=-=-=-=-=-=*/

.shop-area {
  margin-top: 40px;
  padding: 50px 0;
}
.shop {
  display: flex;
  justify-content: space-between;
}
.shop-content {
  width: 62%;
  height: auto;
}
.shop-content h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 50px;
  position: relative;
}
@keyframes eliyas {
  0% {
    left: 0;
  }
  25% {
    left: 10px;
  }
  50% {
    left: 20px;
  }
  75% {
    left: 10px;
  }
  100% {
    left: 0;
  }
}
#shopeasy {
  position: absolute;
  top: 72%;
  left: 0;
  display: block;
  color: #d95a71;
  text-shadow: 4px 4px 6px #57606f;
  animation: eliyas 2s ease-in infinite alternate;
  animation-play-state: running;
}

.shop-content p {
  font-size: 16px;
  color: #3e3e3e;
}

.shop-img {
  width: 38%;
  margin-right: 50px;
  background: url("../images/Circle\ design.svg") no-repeat;
  background-position: 15px -49px;
  box-sizing: border-box;
  overflow: hidden;
}
.shop-img img {
  width: 100%;
  transition: transform 0.5s ease-in-out;
}
.shop-img:hover.shop-img img {
  transform: scale(1.15);
}

/* =-=-=-=-=-=-=-=-=-=-=-
    Brand Section
-=-=-=-=-=-=-=-=-=-=-=-=*/

.brands {
  padding: 10px 20px;
  box-shadow: 0 0 5px #dcdde1;
  margin: 40px 0;
  cursor: pointer;
}
.brands ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.brands ul li a :hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}
/* =-=-=-=-=-=-=-=-=-=-=-
     Popular Section
  -=-=-=-=-=-=-=-=-=-=-=-=*/
.popular-title {
  margin-bottom: 20px;
  margin-top: 60px;
  font-size: 35px;
  text-align: center;
}
.popular-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.popular {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 26%;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #57606f;
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  background-color: #ffffff;
}

.popular img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  text-align: left;
  transition: transform 0.5s ease-in-out;
}
.popular:hover.popular > img {
  transform: scale(1.08);
}
.popular:hover {
  transform: scale(1.13);
}
.popular h3 {
  margin: 10px 0;
  font-size: 20px;
}
.popular p {
  color: #3e3e3e;
}
.item-price {
  margin: 10px 0;
  font-weight: 600;
}
.rating .fas {
  color: #f39c12;
}
.rating .rating-point {
  color: #3e3e3e;
  font-weight: 600;
}
.popular-more {
  display: flex;
  justify-content: right;
  padding: 10px;
  margin-bottom: 30px;
}
.popular-more a {
  font-weight: 700;
  font-size: 20px;
  color: #d95a71;
  transition: color 0.5s ease-in-out;
}
.popular-more a i {
  padding-left: 5px;
}
.popular-more a:hover {
  color: rgba(255, 71, 87, 1);
}
/* =-=-=-=-=-=-=-=-=-=-=-
     Community Section
  -=-=-=-=-=-=-=-=-=-=-=-=*/
.community {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 80px 0;
}

.community-img {
  width: 40%;
}
.community-img {
  max-width: 100%;
}

.community-content {
  width: 55%;
}
.community-content h2 {
  margin-top: 0;
  font-size: 38px;
}
.community-content p {
  width: 80%;
  font-size: 16px;
  color: #3e3e3e;
}
.community-content > .uni-button {
  margin-top: 0;
}
/* =-=-=-=-=-=-=-=-=-=-=-
        Footer Section
  -=-=-=-=-=-=-=-=-=-=-=-=*/
.footer-area {
  background-color: #192a56;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-title {
  margin: 0;
  padding: 0;
  color: rgba(255, 71, 87, 1);
  padding-top: 10px;
}
.copyright {
  margin: 0;
  margin-top: 10px;
  color: #dcdde1;
  text-align: center;
  line-height: 1.5;
}
.footer-icon {
  margin: 0;
  padding: 0;
  display: flex;
}
.footer-icon li a {
  display: block;
  color: #a4b0be;
  font-size: 20px;
  padding: 10px 12px;
  transition: color 0.5s ease-in, transform 0.5s ease-in-out;
}
.footer-icon li a:hover {
  color: #ffffff;
  transform: scale(1.2);
}
